<% title "Test Questions" %>

<table>
  <tr>
    <th>Test</th>
    <th>Test Question ID</th>
  </tr>
  <% for test_question in @test_questions %>
    <tr>
      <td><%= link_to test_question.test.name, test_question.test %></td>
      <td><%= link_to test_question.id, test_question %></td>
      <td><%= link_to "Edit", edit_test_question_path(test_question) %></td>
      <td><%= link_to "Destroy", test_question, data: { confirm: 'Are you sure?' }, :method => :delete %></td>
    </tr>
  <% end %>
</table>

<p><%= link_to "New Test Question", new_test_question_path %></p>
